streamlit
requests
google-cloud-dialogflow

google-cloud-texttospeech

streamlit-webrtc
av
numpy
google-cloud-speech
python-dotenv==1.0.1
PyJWT==2.8.0
google-auth
google-cloud-dialogflow-cx
google-cloud-translate
google-cloud-speech